<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Assign User</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <span style="font-weight:bold">This is just a test. If you want to return to the login page, <a href= "index.html">click this link.</a></span>
    <h1 id="thetitle2">Assign User</h1>
    <p id="group1">

  <div class="container">

    <p>Here, you can assign a user to a course. Please include the course number and the account's username to assign them to the chosen course.</p>

    <hr>
 
  <p class="formfield">
    <label for="cnum"><b>Course Number</b></label>
    <input type="text" placeholder="Enter Course Num..." id="cnum" required>
    <br>

      <label for="csec"><b>Course Section</b></label>
    <input type="text" placeholder="Enter Course Sec..." id="csec" required>
    <br>

    <label for="usern"><b>User to Assign</b></label>
    <input type="text" placeholder="User to Assign..." id="usern" required>
    <br>
  </p>
    
    <br><br><br>
    <form>
      <input type="button" value="Assign User!" onclick="history.back()">
    </form>

  </div>
  </body>
</html>