<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Contact Staff</title>
  </head>
<body>
  <!-- ----------------- Side Bar --------------------------- -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light h3" style="wwidth: 14%; height: 100%; position: absolute;">
      <span class="text-primary"><strong style="font-size: xx-large;">{{ request.session.role }} View</strong></span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto h5">
    <li class="nav-item">
        <a href="/contactstaff/" class="nav-link active" aria-current="page">
          Contact Staff
        </a>
      </li>
      <li class="nav-item">
          {% if request.session.role == "admin" %}
            <a href="/supervisor/" class="nav-link" aria-current="page">
              Home
            </a>
          {% elif request.session.role == "professor" %}
              <a href="/professor/" class="nav-link" aria-current="page">
              Home
            </a>
          {% elif request.session.role == "ta" %}
              <a href="/ta/" class="nav-link" aria-current="page">
              Home
            </a>
          {% endif %}
      </li>
    </ul>
    <hr>
    <div class="">
        <a href="/" class="nav-link link-dark text-danger">
        <strong>Log Out</strong>
      </a>
    </div>
  </div>

  <!-- ----------------- End Side Bar --------------------------- -->
    <div class="row justify-content-center">
      <div style=" margin-top: 2%; margin-left: 5%;" class="col-lg-5">
          <form action="/contactstaff/" method="post">
              {% csrf_token %}
              <select name="staff" class="custom-select my-1 mr-sm-2" id="staff">
                <option disabled>Choose...</option>
                <option value="admin">Administrator</option>
                <option value="prof">Professor</option>
                <option value="ta">TA</option>
            </select>
              <div class="form-group row">
        <div class="col-sm-5">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
          </form>
      </div>
  </div>

  <div class="row justify-content-center">
      <div style=" margin-left: 5%; text-align: center;" class="col-lg-5">
          <h1 class="display-5"><strong>Contact Staff</strong></h1>
      </div>
  </div>
    {% if query %}
  <div style="max-width: 65%; margin-left: 25%; max-height: 75vh; overflow: auto" class="d-flex justify-content-center shadow p-3 mb-5 bg-white rounded">

      <table class="table table-hover">
          <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              {% for user in query %}
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
                  </tr>
              {% endfor %}

          </tbody>
      </table>
  </div>
{% endif %}

  </body>
</html>