<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>New Account</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <span style="font-weight:bold">This is just a test. If you want to return to the login page, <a href= "/">click this link.</a></span>
    <h1 id="thetitle2">Create Course</h1>
    <p id="group1">

  <div class="container">
    <form method="post" action="/createcourse/">

    <p>Please include the name of the course you want to create, as well as whether it is undergraduate or graduate. Remember, no duplicate course names!</p>

    <hr>

        {% csrf_token %}
        <label for="name"><b>Course Name</b></label>
        <input name="name" type="text" placeholder="Enter Course Name..." id="name" >
        <br>

        <label for ="section"><b>Course Section</b></label>
        <input name="section" type="text" placeholder="Enter Course Section..." id="section">
        <br>

        <label for="credits"><b>Credits</b></label>
        <input name="credits" type="text" placeholder="Enter Credits..." id="credits" >
        <br>

        <label for="prereqs"><b>Prereqs</b></label>
        <input name="prereqs" type="text" placeholder="Enter Prereqs..." id="prereqs">
        <br>


        <label for="desc"><b>Course Description</b></label>
        <textarea rows="4" cols="30" name="description">
        Enter your description here...
        </textarea>
        <br>

        <input type="submit" value="Create Course!">
    </form>
    {{ msg }}
  </div>
  </body>
</html>