{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login</title>
</head>
<body style="background-color: rgb(255, 255, 255);">
    <div class="container">
        <div style="height: 95vh" class="row align-items-center">
            <div class="col">

            </div>
            <div class="col p-5 shadow-lg bg-white rounded">
                <h1 style="background-color:#0069d9;" class="p-4 text-white rounded-pill">Log In</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label>Username</label>
                      <input name ="username" type="text" class="form-control" id="user" aria-describedby="emailHelp" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
            </div>
            <div class="col">

            </div>
          </div>
    </div>
</body>
</html>